<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
    .sticky {
      position: sticky;
      top: 0em;
      min-height: 0em;
      z-index:10;
    }
  </style>
</head>
<body>
<br>

<header class="sticky">
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <div class="btn-group" role="group" aria-label="top buttons">
            <a id="index_root_page_button" href="/" class="btn btn-outline-warning" role="button">Root page</a>
            <a id="transaction_page_button" href="/addTransaction" class="btn btn-outline-warning" role="button">New Transaction</a>
            <a id="contract_page_button" href="/addContract" class="btn btn-outline-warning" role="button">New Contract</a>
            <a id="clients_list_button" href="/listClients" class="btn btn-outline-warning" role="button">Clients</a>
            <a id="services_list_button" href="/listServices" class="btn btn-outline-warning" role="button">Services</a>
        </div>
    </nav>
</header>
<br>
<br>
<form action="/findService" method="post">
    <div class="col-md-4 mx-auto">
        <label for="validationServiceId" class="form-label">Find Service By ID</label>
        <input type="text" class="form-control" name="serid" id="validationServiceId" required placeholder="Service ID">
    </div>
    <br>
    <div class="col-md-4 mx-auto">
        <button id="find_servicce_button" type="submit" class="btn btn-primary">Find</button>
    </div>
</form>
<br>
<br>
<form action="/findClient" method="post">
    <div class="col-md-4 mx-auto">
        <label for="validationClientId" class="form-label">Find Client By ID</label>
        <input type="text" class="form-control" name="cliid" id="validationClientId" required placeholder="Client ID">
    </div>
    <br>
    <div class="col-md-4 mx-auto">
        <button id="find_client_button" type="submit" class="btn btn-primary">Find</button>
    </div>
</form>

<br>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>