<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>List of Services</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
    .sticky {
      position: sticky;
      top: 0em;
      min-height: 0em;
      z-index:10;
    }
  </style>
</head>
<body>
<br>

<header class="sticky">
  <nav class="navbar sticky-top navbar-dark bg-dark">
    <div class="btn-group" role="group" aria-label="top buttons">
      <a id="index_root_page_button" href="/" class="btn btn-outline-warning" role="button">Root page</a>
    </div>
  </nav>
</header>

<br>
<br>
<br>
<form action="/serviceCreation" method="post">
  <div class="col-md-4 mx-auto">
    <label for="validationName" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" id="validationName" required placeholder="name">
  </div>

  <div class="col-md-4 mx-auto">
    <label for="validationType" class="form-label">Type</label>
    <input type="text" class="form-control" name="type" id="validationType" required placeholder="type">
  </div>

  <div class="col-md-4 mx-auto">
    <label for="validationDesc" class="form-label">Description</label>
    <input type="text" class="form-control" id="validationDesc" name="desc" required placeholder="text">
  </div>

  <div class="col-md-4 mx-auto">
    <label for="validationPlan" class="form-label">Tariff Plan</label>
    <input type="text" class="form-control" id="validationPlan" name="plan" required placeholder="text">
  </div>

  <br>
  <div class="col-md-4 mx-auto">
    <button id="add_service_button" type="submit" class="btn btn-primary">Add Service</button>
  </div>
</form>

<div class="row" >
  <div class="table-responsive col-md-6">
    <table class="table table-bordered " style="width: auto;">
      <thead class="thead-dark">
      <tr>
        <th scope="col"> Name </th>
        <th scope="col"> Type </th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${#lists.isEmpty(services)}">
        <td colspan="8"> No Services </td>
      </tr>
      <tr th:each="service : ${services}">

        <form>
          <input type="hidden" name="index_service_id" th:value="${service.getService_id()}"/>
        </form>

        <td scope="row"> <a th:href="'/service?service_id=' + ${service.getService_id()}"> <span th:text="${service.getName()}"> </span> </a></td>
        <td><span th:text="${service.getType()}"> </span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive col-md-6">
    <br>
    <br>
    <br>
    <form action="/servicesort1" method="post">
      Sort by name
      <button id="servicesort1" type="submit" class="btn btn-primary">Sort</button>
    </form>
    <br>
    <form action="/servicesort2" method="post">
      Sort by type
      <button id="servicesort2" type="submit" class="btn btn-primary">Sort</button>
    </form>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>