<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/web?currentSchema=test</property>
        <property name="connection.username">root</property>
        <property name="connection.password">qwerty123</property>
        <property name="show_sql">true</property>

        <mapping class="Models.Accounts" />
        <mapping class="Models.Clients" />
        <mapping class="Models.Contracts" />
        <mapping class="Models.Transactions" />
        <mapping class="Models.Services" />
        <mapping class="Models.Tokens" />

    </session-factory>
</hibernate-configuration>